<%= render partial: 'spree/admin/shared/maintain_sidebar', locals: { current: :page } %>

<% content_for :page_title do %>
    <%= Spree.t(:maintainable_pages) %>
<% end %>

<% content_for :page_actions do %>
    <%= button_link_to Spree.t(:new_page), new_object_url, class: "btn-success", icon: "add", id: "admin_new_drop_down_id" %>
<% end %>

<% if @maintainable_pages.any? %> 
    <div id="list-maintainable-pages" data-hook>
        <%= render 'list' %>
    </div>
<% else %>
    <div class="alert alert-info no-objects-found">
        <%= Spree.t(:no_resource_found, resource: plural_resource_name(Spree::MaintainablePage)) %>
        <%= link_to Spree.t(:add_one), new_object_url if can?(:create, Spree::MaintainablePage) %>!
    </div>      
<% end %> 